@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */
@font-face {
  font-family: moriExtra;
  src: url(../fonts/PPMori-SemiBold.otf);
}
@font-face {
  font-family: helvetical;
  src: url(../fonts/HelveticaNeueBold.otf);
}
@font-face {
  font-family: editorial;
  src: url(../fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf);
}
@font-face {
  font-family: moriBook;
  src: url(../fonts/PPMori-Regular.otf);
}

@layer utilities {
  .moriExtra {
    font-family: moriExtra;
  }
  .moriBook {
    font-family: moriBook;
  }
  .leftCenter {
    left: calc(50% - 1%);
  }
  .helvetical {
    font-family: helvetical;
  }
  .editorial {
    font-family: editorial;
  }
}
